CS401-Communication-Project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode/settings.json
bin/ChatLogs.class
bin/ChatRoom.class
bin/Client.class
bin/ClientGUI.class
bin/ClientGUI$1.class
bin/ClientGUI$ITButtonAction.class
bin/ClientHandler.class
bin/LoginMessage.class
bin/LoginUI.class
bin/LoginUI$1.class
bin/LogoutMessage.class
bin/Message.class
bin/MessageStatus.class
bin/MessageTypes.class
bin/Server.class
bin/User.class
bin/UserStatus.class
CommunicationApp/src/Client.class
CommunicationApp/src/ClientGUI.class
CommunicationApp/src/ClientGUI$1.class
CommunicationApp/src/ClientGUI$ITButtonAction.class
CommunicationApp/src/User.class
CommunicationApp/src/UserStatus.class
lib/hamcrest-core-1.3.jar
lib/junit-4.13.2.jar
bin/MessagePanel.class
CommunicationApp/src/MessagePanel$1.class
CommunicationApp/src/MessagePanel.class
bin/MessagePanel$1.class
bin/ClientGUI$2.class
CommunicationApp/src/ChatRoom.class
CommunicationApp/src/ClientGUI$2.class
bin/CredentialsEditPanel.class
bin/UserPanel.class
bin/UserPanel$1.class
bin/UserPanel$2.class
bin/viewLogChatPanel.class
bin/viewLogChatPanel$1.class
bin/viewLogChatPanel$2.class
bin/Client$1.class
bin/Client$2.class
bin/Client$3.class
bin/Client$4.class
bin/LoginUI$2.class
bin/LoginUI$3.class
bin/LoginUI$4.class
bin/ServerMessage.class
CommunicationApp/src/Client$1.class
CommunicationApp/src/Client$2.class
CommunicationApp/src/Client$3.class
CommunicationApp/src/Client$4.class
CommunicationApp/src/LoginMessage.class
CommunicationApp/src/LoginUI.class
CommunicationApp/src/LoginUI$1.class
CommunicationApp/src/LoginUI$2.class
CommunicationApp/src/LoginUI$3.class
CommunicationApp/src/LoginUI$4.class
CommunicationApp/src/LogoutMessage.class
CommunicationApp/src/Message.class
CommunicationApp/src/MessageStatus.class
CommunicationApp/src/MessageTypes.class
CommunicationApp/src/ServerMessage.class
scripts/CommunicationApp/copy/ChatLogs.java
scripts/CommunicationApp/copy/ChatRoom.java
scripts/CommunicationApp/copy/Client.java
scripts/CommunicationApp/copy/ClientGUI.java
scripts/CommunicationApp/copy/ClientHandler.java
scripts/CommunicationApp/copy/CredentialsEditPanel.java
scripts/CommunicationApp/copy/LoginMessage.java
scripts/CommunicationApp/copy/LoginUI.java
scripts/CommunicationApp/copy/LogoutMessage.java
scripts/CommunicationApp/copy/Message.java
scripts/CommunicationApp/copy/MessagePanel.java
scripts/CommunicationApp/copy/MessageStatus.java
scripts/CommunicationApp/copy/MessageTypes.java
scripts/CommunicationApp/copy/Server.java
scripts/CommunicationApp/copy/ServerMessage.java
scripts/CommunicationApp/copy/User.java
scripts/CommunicationApp/copy/UserPanel.java
scripts/CommunicationApp/copy/UserStatus.java
scripts/CommunicationApp/copy/viewLogChatPanel.java
bin/scripts/copy_ext_to_path.sh
bin/scripts/New Text Document.txt
scripts/copy_ext_to_path.sh
bin/AddUsersToChatMessage.class
bin/ChatMessage.class
bin/ClientGUI$3.class
bin/ClientGUI$4.class
bin/ClientGUI$5.class
bin/CreateChatMessage.class
bin/CreateNewChatPanel.class
bin/CreateNewChatPanel$1.class
bin/CreateNewChatPanel$2.class
bin/CredentialsEditPanel$1.class
bin/ITButtonAction.class
bin/LogMessage.class
bin/MessagePanel$MessageListener.class
bin/NotifyMessage.class
bin/PinChatMessage.class
bin/UpdateUserMessage.class
CommunicationApp/src/UserPanel$2.class
CommunicationApp/src/UserPanel$1.class
CommunicationApp/src/UserPanel.class
CommunicationApp/src/MessagePanel$MessageListener.class
CommunicationApp/src/ITButtonAction.class
CommunicationApp/src/CreateNewChatPanel$2.class
CommunicationApp/src/CreateNewChatPanel$1.class
CommunicationApp/src/CreateNewChatPanel.class
CommunicationApp/src/ClientGUI$5.class
CommunicationApp/src/ClientGUI$4.class
CommunicationApp/src/ClientGUI$3.class
CommunicationApp/src/Client$5.class
CommunicationApp/src/ChatMessage.class
CommunicationApp/src/LogMessage.class
CommunicationApp/src/UpdateUserMessage.class
bin/ClientGUI$6.class
bin/ClientGUI$7.class
CommunicationApp/src/ClientGUI$3$1.class
CommunicationApp/src/ClientHandler.class
CommunicationApp/src/ClientHandler$1.class
CommunicationApp/src/Server.class
bin/ClientGUI$8.class
bin/modifyUserPanel.class
bin/modifyUserPanel$1.class
bin/viewLogChatPanel$3.class
bin/viewLogChatPanel$4.class
bin/ClientGUI$9.class
bin/tests/AllTests.class
bin/AddUsersToChatMessageTest.class
bin/AllTests.class
bin/ChatMessageTest.class
bin/CreateChatMessageTest.class
bin/LoginMessageTest.class
bin/LogMessageTest.class
bin/LogoutMessageTest.class
bin/NotifyMessageTest.class
bin/PinChatMessageTest.class
bin/ServerMessageTest.class
bin/UpdateUserMessageTest.class
CommunicationApp/src/AddUsersToChatMessage.class
CommunicationApp/src/CreateChatMessage.class
CommunicationApp/src/NotifyMessage.class
CommunicationApp/src/PinChatMessage.class
bin/ChatRoomTest.class
bin/credentialsData.txt
bin/MessageTest.class
bin/User1.txt
bin/username1.txt
bin/UserTest.class
bin/chatrooms/373d2c56-8fe0-404b-b79f-628d662b066a.txt
bin/chatrooms/433a3fa2-3d83-4a9a-88ae-3a988a24a751.txt
bin/chatrooms/517e347f-4038-49af-8425-c1a1c844c275.txt
bin/chatrooms/6868fbec-a818-4e76-9c65-7dea808bab1b.txt
bin/chatrooms/7072a6ba-9957-4015-9bb2-3b236a91f435.txt
bin/chatrooms/7907f249-87a4-4599-9bfa-7b6a74664428.txt
bin/chatrooms/8231710c-6607-4484-8e01-6f96f54d2b3a.txt
bin/chatrooms/c46cb943-2018-40bb-85c4-8cd703edbd7c.txt
bin/chatrooms/c397282c-3699-4526-a83d-29740225995b.txt
bin/dyu4.txt
bin/credentialsData.txt
bin/csan.txt
bin/chatrooms/6bd501c5-792c-4e9e-be0d-409d33c48735.txt
bin/chatrooms/1e106ab1-66eb-48d4-ae47-bcb3ae49abc1.txt
bin/chatrooms/96879edf-50a8-46f6-b3fa-b3f193056601.txt
bin/users/abrown3.txt
bin/users/Cocacoola.txt
bin/users/amiller2.txt
bin/users/csan.txt
bin/users/dyu4.txt
bin/users/halvarenga1.txt
bin/users/pmoore5.txt
bin/UpdateUserListMessage.class
CommunicationApp/src/Server.java
bin/credentialsData.txt
bin/users/newuserfile123.txt
bin/users/f7l7.txt
bin/users/user8.txt
bin/credentialsData.txt
CommunicationApp/src/ClientGUI$6.class
CommunicationApp/src/ClientGUI$7.class
CommunicationApp/src/ClientGUI$8.class
CommunicationApp/src/ClientGUI$9.class
CommunicationApp/src/modifyUserPanel.class
CommunicationApp/src/modifyUserPanel$1.class
CommunicationApp/src/viewLogChatPanel.class
CommunicationApp/src/viewLogChatPanel$1.class
CommunicationApp/src/viewLogChatPanel$2.class
CommunicationApp/src/viewLogChatPanel$3.class
bin/credentialsData.txt
bin/chatrooms/6c681a86-868a-4dcd-86a8-156db1733bc9.txt
bin/chatrooms/6f1d803c-a396-4454-956c-28807ce13b4c.txt
bin/chatrooms/12033142-9dad-443d-9416-e42346f25386.txt
bin/chatrooms/ab4696ce-a63b-4e30-8110-a87832d4bd79.txt
bin/chatrooms/c29ee0d0-989c-48a7-80c1-011e9f93c8ba.txt
bin/chatrooms/db85d2d3-cab6-43f7-a882-df610803759a.txt
bin/users/csanny.txt
bin/users/hbod.txt
